POSTGRES_DB=auditai
POSTGRES_USER=auditai
POSTGRES_PASSWORD=auditai
POSTGRES_PORT=5432

RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=guest

BACKEND_PORT=8080
FRONTEND_PORT=4200

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/auditai
SPRING_DATASOURCE_USERNAME=auditai
SPRING_DATASOURCE_PASSWORD=auditai
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=guest
SPRING_RABBITMQ_PASSWORD=guest
